#wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    background-color: #005689;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

/* Nav bar for mobile view */
@media screen and (max-width: 500px) {
    
}