.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    padding-bottom: 0px;
}

h1 {
    color: black;
    font-family: sans-serif;
    font-size: 5vw;
    text-align: center;
    padding-top: 0px;
}

h2 {
    text-align: center;
}

body {
    background-image: linear-gradient(360deg, rgb(91, 33, 116) 0%, rgb(166, 105, 201) 35%, rgb(218, 189, 246) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

blockquote {
    background-color: rgb(239, 197, 253);
    padding: 1px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.yt_video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.infoDiv table {
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 0px;
    table-layout: auto;
}

.infoDiv th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.infoDiv tr, td {
    border-collapse: collapse;
    border-right: 1px solid black;
    padding-bottom: 0px;
    text-align: left;
    width: 33%;
}

.descriptionDiv {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
}