* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
}

#grid-container {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sidebar socialLinks"
        "filler Project1"
        "filler Project2"
        "filler Project3"
        "filler Project4";
}

#grid-container div {
    background-color: lightblue;
    font-size: 24px;
}

#box-1 {
    grid-area: sidebar;
    padding: 10px 30px 30px 30px;
    border-right: 5px solid black;
    height: 9vh;
    position: sticky;
    top: 0px;
}

#box-2 {
    grid-area: socialLinks;
    padding: 10px 30px 10px 30px;
    border-bottom: 5px solid black;
    position: sticky;
    top: 0px;
}

.filler {
    grid-area: filler;
    padding: 10px 30px 10px 30px;
    border-right: 5px solid black;
}

#box-3 {
    grid-area: Project1;
    text-align: left;
}

#box-4 {
    grid-area: Project2;
    text-align: right;
}

#box-5 {
    grid-area: Project3;
    text-align: left;
}

#box-6 {
    grid-area: Project4;
    text-align: right;
}

.projects {
    padding: 0px 30px 30px 30px;
}

@media screen and (max-width: 1100px) {
    #grid-container div {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    #grid-container div {
        font-size: 8px;
    }
}