.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.cursorChange {
    cursor: pointer;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 3px solid lightgray;
    border-radius: 0.5em;
    transition: border 0.3s ease;

    width: 11%;
    height: 22%;
}

.pokemon:hover {
    border: 3px solid black;
}

.pokemon h2 {

    border-bottom: 2px solid lightgray;
    transition: border-bottom 0.3s ease;
}

.pokemon h2:hover {
    border-bottom: 2px solid black;
}