* {
    font-family: 'Lato', sans-serif;
}

.center {
    text-align: center;
}

.full {
    background-color: rgb(198, 218, 255);
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
}

/* ==========================================
Navigation
========================================== */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: fixed;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #111;
}

/* ==========================================
Home Section
========================================== */
.homeBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "homeInfo homeImage";
    padding: 5%;
}

.homeInfo {
    grid-area: homeInfo;
    padding-top: 10%;
}

.homeInfo h1 {
    font-size: 6vw;
    font-weight: bolder;
    margin-bottom: 2%;
}

.homeInfo p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 5%;
}

.homeInfo button {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.homeImage {
    grid-area: homeImage;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.homeImage img {
    width: 100%;
    height: auto;
}

/* ==========================================
Info Section
========================================== */
.infoBox {
    padding: 10%;
    padding-top: 2.5%;
}

/* ==========================================
Feature Section
========================================== */
.featureBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "feature1 . ."
        "feature1 feature2 ."
        ". feature2 feature3"
        ". . feature3";
    column-gap: 5%;
    padding: 8%;
    padding-top: 5%;
}

.featureBox h3 {
    font-size: 35px;
    margin-bottom: 2%;
}

.featureBox p {
    font-size: 19px;
    line-height: 1.75;
    margin-top: 0px;
    margin-bottom: 5px;

}

.feature1 {
    grid-area: feature1;
}

.feature2 {
    grid-area: feature2;
}

.feature3 {
    grid-area: feature3;
}

/* ==========================================
Documentation Section
========================================== */
.docuBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "docuWhy docuHow"
        "docuRes docuHow";
    column-gap: 8%;
    padding: 10%;
    padding-top: 6%;
}

.docuBox h3 {
    font-size: 35px;
    margin-bottom: 2%;
}

.docuBox h4 {
    font-size: 19px;
    font-weight: normal;
}

.docuBox p {
    font-size: 19px;
    line-height: 1.75;
    margin-top: 0px;
    margin-bottom: 5px;
}

.docuWhy {
    grid-area: docuWhy;
}

.docuRes {
    grid-area: docuRes;
}

.docuRes li {
    font-size: 19px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
}

.docuHow {
    grid-area: docuHow;
}

/* ==========================================
Contact Section
========================================== */
.contactBox {
    padding: 10%;
    padding-top: 2.5%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #111;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
}