.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
        "navBar"
        "infographic";
    height: 100vh;
}

.navBar {
    grid-area: navBar;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding-left: 6%;
    padding-right: 6%;
}

.infographic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "infoSection graphicsSection";
    grid-area: infographic;
    background-color: #b33222;
    margin-left: 5%;
    margin-right: 5%;
}

.infoSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.0fr 1.8fr;
    gap: 2% 0px;
    grid-template-areas:
        "titleSection"
        "aboutSection"
        "stats";
    grid-area: infoSection;
    margin: 2% 2% 2% 2%;
}

.titleSection {
    grid-area: titleSection;
    display: flex;
    justify-content: center;
    margin: 2px 2% 2px 2%;
    border-radius: 5em;
    background-color: lightgrey;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
        "dexSection"
        "descriptionSection";
    grid-area: aboutSection;
    margin-left: 2%;
    justify-content: right;
}

.dexSection {
    grid-area: dexSection;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.descriptionSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2%;
    grid-template-areas:
        "abilitySection hiddenSection massSection eggSection";
    grid-area: descriptionSection;
}

.abilitySection {
    grid-area: abilitySection;
    padding: 5%;
    background-color: lightgrey;
    border-radius: 2em;
    align-items: center;
}

.hiddenSection {
    grid-area: hiddenSection;
    padding: 5%;
    background-color: lightgrey;
    border-radius: 2em;
}

.massSection {
    grid-area: massSection;
    padding: 5%;
    background-color: lightgrey;
    border-radius: 2em;
}

.eggSection {
    grid-area: eggSection;
    padding: 5%;
    background-color: lightgrey;
    border-radius: 2em;
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 2em;
    margin-left: 2%;
    padding: 2%;
    margin-bottom: 6%;
}

.graphicsSection {
    grid-area: graphicsSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ==========================================
Tablet Adjustments
========================================== */
@media screen and (max-width: 1100px) {
    .navBar {
        padding: 0px;
    }

    .infographic {
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }

    .infoSection {
        grid-template-rows: 0.3fr 1.0fr 1.0fr;
        gap: 2% 0px;
        margin: 0px;
    }

    .titleSection {
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .aboutSection {
        gap: 2% 0px;
        margin-right: 2%;
    }

    .descriptionSection {
        gap: 0px 1.5%;
        padding-bottom: 3%;
    }

    .abilitySection {
        border-radius: 1em;
    }

    .hiddenSection {
        border-radius: 1em;
    }

    .massSection {
        border-radius: 1em;
    }

    .eggSection {
        border-radius: 1em;
    }

    .stats {
        margin-right: 2%;
    }

    .graphicsSection {
        margin-top: 20%;
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* ==========================================
Mobile Adjustments
========================================== */
@media screen and (max-width: 500px) {
    .infographic {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "infoSection"
            "graphicsSection";
    }

    .infoSection {
        gap: 0% 0px;
    }

    .aboutSection {
        gap: 0px 0px;
    }

    .graphicsSection {
        margin-top: 2%;
    }
}