html {
    margin: 0px;
}

body {
    max-height: 80vh;
    width: auto;
    overflow: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
        "navBar"
        "infographic";
}

.navBar {
    grid-area: navBar;
    display: flex;
    justify-content: space-evenly;

}

.infographic {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "infoSection graphicsSection";
    grid-area: infographic;
}

.graphicsSection img {
    aspect-ratio: 1/1;
    /* width: 45vw; */
    /* height: auto; */
    margin-bottom: 10px;
}

.infoSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "titleSection"
        "aboutSection"
        "stats";
    grid-area: infoSection;
    margin: 2% 2% 2% 2%;
    width: 90%;
    height: auto;
}

.titleSection {
    grid-area: titleSection;
    display: flex;
    justify-content: center;
    margin: 2px 2% 2px 2%;
    border-radius: 5em;
    background-color: lightgrey;
}

.titleSection h1 {
    margin: 0px;
    align-self: center;
    color: black;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "dexSection"
        "descriptionSection";
    grid-area: aboutSection;
    margin-left: 2%;
    width: 90%;
    height: auto;
    justify-content: right;
    line-height: -1vh;
    width: 90%;
    height: auto;
}

.dexSection {
    grid-area: dexSection;
}

.descriptionSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "abilitySection hiddenSection massSection eggSection";
    grid-area: descriptionSection;
}

.abilitySection {
    grid-area: abilitySection;
}

.hiddenSection {
    grid-area: hiddenSection;
}

.massSection {
    grid-area: massSection;
}

.eggSection {
    grid-area: eggSection;
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: -4vh;
    width: 90%;
    height: auto;
}

.graphicsSection {
    grid-area: graphicsSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    width: 90%;
    height: auto;
}

.graphicsSection button {
    margin: 2%;
    width: 60%;
    height: 10%;
    margin-bottom: 20px;
    border-radius: 2em;
}