html {
    margin: 0px;
}

body {
    max-height: 80vh;
    width: auto;
    overflow: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 5% 0px;
    grid-template-areas:
        "navBar"
        "infographic";
}

.navBar {
    grid-area: navBar;
    display: flex;
    justify-content: space-evenly;

}

.infographic {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "infoSection graphicsSection";
    grid-area: infographic;
}

.infoSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.3fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "titleSection"
        "aboutSection"
        "stats";
    grid-area: infoSection;
    margin: 2% 2% 2% 2%;
    width: 90%;
    height: auto;
}

.titleSection {
    grid-area: titleSection;
    display: flex;
    justify-content: center;
    margin: 2px 2% 2px 2%;
    border-radius: 5em;
    background-color: lightgrey;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
        "dexSection"
        "descriptionSection";
    grid-area: aboutSection;
    margin-left: 2%;
    width: 90%;
    height: auto;
    justify-content: right;
    line-height: -1vh;
    width: 90%;
    height: auto;
}

.dexSection {
    grid-area: dexSection;
    display: flex;
    justify-content: space-between;
}

.descriptionSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "abilitySection hiddenSection massSection eggSection";
    grid-area: descriptionSection;
}

.abilitySection {
    grid-area: abilitySection;
    margin: 4%;
    padding: 4%;
    background-color: lightgrey;
    border-radius: 2em;
}

.hiddenSection {
    grid-area: hiddenSection;
    margin: 4%;
    padding: 4%;
    background-color: lightgrey;
    border-radius: 2em;
}

.massSection {
    grid-area: massSection;
    margin: 4%;
    padding: 4%;
    background-color: lightgrey;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.eggSection {
    grid-area: eggSection;
    margin: 4%;
    padding: 4%;
    background-color: lightgrey;
    border-radius: 2em;
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* margin-top: -2vh; */
    width: 90%;
    height: auto;
    background-color: lightgrey;
    border-radius: 2em;
    margin-left: 2%;
    padding: 2%;
}

.graphicsSection {
    grid-area: graphicsSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    width: 90%;
    height: auto;
}