.infographic {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "infoSection graphicSection";
}

.infoSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "titleSection"
        "aboutSection"
        "battleSection";
    grid-area: infoSection;
    margin: 2% 2% 2% 2%;
}

.titleSection {
    grid-area: titleSection;
    display: flex;
    justify-content: center;
    margin: 2px 2% 2px 2%;
    border-radius: 5em;
    background-color: lightgrey;
}

.titleSection h1 {
    margin: 0px;
    align-self: center;
    color: black;
}

.aboutSection {
    grid-area: aboutSection;
    margin-left: 2%;
}

.battleSection {
    grid-area: battleSection;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.graphicSection {
    grid-area: graphicSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}