.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: none;
}

.show {
    display: block;
}

.form-switch {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 10%;
}

.box {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.box:hover {
    background-color: lightgray;
}

.modal-input {
    width: 90%;
    margin-bottom: 10%;
    line-height: 10%;
}

button.form-button {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.box.active {
    border: 1px solid black;
    background-image: linear-gradient(lightyellow, lightblue);
}

.box.active#login-box,
.box.active#login-box-register,
.box.active#register-box,
.box.active#register-box-register {
    border-color: black;
}

#login-form h1,
#register-form h1 {
    text-align: center;
}

form input[type="text"],
form input[type="password"] {
    height: 40px;
}