* {
    font-family: 'Inter', sans-serif;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
}

.cursorChange {
    cursor: pointer;
}

.graphicsSection img {
    margin-bottom: 10px;
    border-radius: 2em;
    width: max-content;
    height: auto;
    border: 10px solid lightgrey;
    background-color: white;
}

.graphicsSection button {
    margin: 2%;
    width: 40%;
    height: 8%;
    margin-bottom: 20px;
    border-radius: 2em;
    font-size: 20px;
}

.graphicsSection button:hover {
    background-color: lightgrey;
}

.titleSection h1 {
    margin: 0px;
    align-self: center;
    color: black;
    width: 20%;
}

.dexSection p {
    background-color: lightgrey;
    border-radius: 1em;
    width: 25%;
    padding: 1%;
    padding-left: 2%;
}

.dexSection>.typeSection {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: auto;
    padding: 0px;
}

.dexSection>.typeSection p {
    background-color: lightgrey;
    width: 100%;
    margin-left: 4%;
    padding: 4%;
}

.massSection p {
    width: 100%;
    height: 30%;
}