/* Entire page */
* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #323f6a;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

header h1 {
    padding-left: 20px;
}

h1 {
    color: #bbd0ff;
    font-size: 60px;
}

p{
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 35%;
    margin: 15px;
    border-radius: 20px;
    background-color: #D1D2F9;
    padding-left: 15px;
    padding-right: 15px;
}

section.container h2 {
    color: #6074f7;
    font-size: 40px;
}

.bio {
    display: flex;
    background-color: #D1D2F9;
    width: 74%;
    margin: 25px auto;
    border-radius: 20px;
    padding-left: 20px;
    color: #27145c;
}

img {
    border: 5px solid #7796CB;
    border-radius: 10px;
}

a:link {
    color: #7796CB;
}

a:visited {
    color: rgb(168, 137, 218);
}

a:hover {
    color: #576490;
}

a:focus {
    color: red;
}

a:active {
    color: red;
}