* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #323f6a;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

header h1 {
    padding-left: 20px;
}

h1 {
    color: #bbd0ff;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
}
  
.box {
    width: 35%;
    margin: 10px;
    border-radius: 20px;
    background-color: #D1D2F9;
    padding-left: 15px;
}

section.container h2 {
    font-size: 40px;
}
section.container p {
    font-size: 25px;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D2F9;
    width: 73%;
    margin: 20px auto;
    border-radius: 20px;
}

img {
    border: 5px solid #d1d2f9;
    border-radius: 10px;
}

a:link {
    color: #7796CB;
}

a:visited{
    color: rgb(168, 137, 218);
}

a:hover {
    color: #576490;
}

a:focus {
    color: red;
}

a:active {
    color: red;
}