body {
    background-color: #323f6a;
}

header {
    background-color: #c9cad9;
}

p {
    color: #bbd0ff;
}

a:link {
    color: #a3bcf9;
}

a:visited{
    color: red;
}

a:hover {
    color: #d1d2f9;
}

a:focus {
    color: red;
}

a:active {
    color: red;
}